@import 'sass/characterlist.scss';
@import 'sass/singleCharacter.scss';
@import 'sass/creationCharacter.scss';
@import 'sass/editCharacter.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;